{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Politician’s Statement #1: 
{% endblock %}

{% block content %}

    <p>
        “The [H.R.1] bill would force states to adopt universal mail-in ballots, early voting, same-day voter
        registration, online voter registration, and automatic voter registration for any individual listed in
        state and federal government databases, such as the Department of Motor Vehicles and welfare
        offices, ensuring duplicate registrations and that millions of illegal immigrants are quickly registered
        to vote.”
    </p>

    <hr>

    {% formfields %}

    {% next_button %}

{% endblock %}
