{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Instructions
{% endblock %}

{% block content %}

    <p>
        You will read several statements by current or recent politicians about immigration in the US. After each statement, you will be asked to evaluate how persuasive you found the statement.
    </p>

    <p>
        Then you will read several numbers and statistics regarding the politician’s statement provided by Politifact (a fact checking service). After reading the fact check, you will be asked how persuasive you find the politician’s statement after reading the fact checked information.
    </p>

    <p>
        Please read all the material carefully.
    </p>

    <p>
        <b><u>Reminder:</u> Approval of your payment is conditional on adherence to Prolific's policies, you paying attention, and completing the questions carefully.</b>
    </p>

    {% next_button %}

{% endblock %}