{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Instructions (both) 
{% endblock %}

{% block content %}

    <p>
        You will read several statements by current or recent politicians about
        immigration. After each statement, you will then read information
        from Politifact (a fact checking source) about the politician’s statement.
    </p>

    <p>
        Please read both the politician’s statement and the fact checked material carefully. 
        After each statement, you will be asked to evaluate how persuasive you found the statement.
    </p>

    <p>
        You will then be asked how persuasive you find the politician’s
        statement after having read both the statement and the fact checked
        information.
    </p>

    <button class="btn btn-primary" type="submit">Next</button>

{% endblock %}