{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Voting Preferences Survey Instructions:
{% endblock %}

{% block content %}

    <p>
        We are running a study of electoral behavior and attitudes toward immigration. This survey involves
        a series of questions about yourself and your political beliefs. You will also be asked a series of
        questions on your political attitudes. You should be able to complete the survey in 10(??) minutes.
        Your answers will remain anonymous, and we will only publish aggregate results of the study.
    </p>

    <button class="btn btn-primary" type="submit">Next</button>

{% endblock %}
