{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Voting Preferences Survey:
{% endblock %}

{% block content %}

    <p>
        Thinking about the issue of immigration, how important of a
        goal should the following be for immigration policy in the
        U.S.? 
    </p>

    <p>
        {{ for field in form }}
            {{field.label}}
            <select class="form-select" style="display: inline;">
                <option value="">--------</option>
                {{ for choice in field }}
                    {{choice}}
                {{ endfor }}
            </select>
            goal for U.S. immigration policy.
        {{ endfor }}
    </p>



    {{ for field in form }}
        <tr>
            <th>{{ field.label }}</th>
            {{ for choice in field }}
                <td>{{ choice }}</td>
            {{ endfor }}
        </tr>
        {{field.errors}}
    {{ endfor }}


    {% next_button %}

{% endblock %}