{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Voting Preferences Survey Instructions:
{% endblock %}

{% block content %}

    <p>
        Thinking about the issue of immigration, how important of a
        goal should the following be for immigration policy in the
        U.S.? 
    </p>

    {{ formfield_errors 'voting_preferences3' }}

    <p>
        Taking in refugees escaping from war and violence is a
        <select class="form-select" style="display: inline;" name="voting_preferences3">
            <option value="">--------</option>
            {{ for choice in form.voting_preferences3 }}
                {{choice}}
            {{ endfor }}
        </select>
        goal for U.S. immigration policy.
    </p>

    <button class="btn btn-primary" type="submit">Next</button>

{% endblock %}